/* Add CSS styling here */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	/* font-size: 100%; */
	/* font: inherit; */
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}



/* Main css */


html {
    font-family: 'Sen', sans-serif;
    font-size: 62.5%;
    
}


h1 {
    font-size: 3rem;
    /* padding: 25px 0 0 40px; */
    padding: 2% 0 0 2%;
}

#topbar {
    background-color: rgb(226, 226, 226);
    box-shadow: 2px 2px 10px black;
}

#navbar {
    display: flex;
    box-sizing: border-box;
    /* margin: 25px 0 0 75px; */
    margin: 1.5% 0 0 3.5%;
    
}

.navlink {
    border: 1px solid black;
    padding: 10px;
    margin: 0 0 25px 0;
    background: white;
    color: black;
    text-decoration: none;
    font-size: 1.6rem;
}

#homebtn {
    background: black;
    color: white;
}

#aboutbtn:hover, #contactbtn:hover, #projectsbtn:hover {

    background: black;
    color: white;

}

#about {
    display: flex;
    
    justify-content: center;
    margin: 2% 0 0 0;
    text-align: center;
    box-sizing: border-box;
}

#aboutpic {
    width: 30%;
    display:inline;
    text-align: center;
    vertical-align: middle;
}

#aboutright {
    width: 30%;
    text-align: left;
}

#nameabout {
    text-align: left;
    margin: 30% 10% 5% 0;
    padding: 0 0 0 10%;
    font-size: 1.9rem;
}


#myprojectsbtn {
    border: 1px solid black;
    padding: 10px;
    background: white;
    color: black;
    text-decoration: none;
    margin: 0 0 0 10%;
    font-size: 1.6rem;
}

#myprojectsbtn:hover {
    background: black;
    color: white;
}

#abouttext {
    text-align: left;
    margin: 5% 0 0 10%;
    font-size: 1.6rem;
}

#gallary1 {
    display: flex;
    flex-wrap: wrap;
    margin: 5% 0 0 0;
    justify-content: space-evenly;
}


#gallary1 > img {
    width: 10%;
}

#gallary2 {
    display: flex;
    flex-wrap: wrap;
    margin: 5% 0 0 0;
    justify-content: space-evenly;
}

#gallary2 > img {
    width: 10%;
}

#footer {
    background-color: rgb(226, 226, 226);
    box-shadow: 2px 2px 10px black;
    text-align:center;
    margin-top: 2%;
    padding-bottom: 2%;
}

#footertext {
    padding: 1% 0 2% 0;
    font-size: 3rem;
}

#contactbtn2 {
    border: 1px solid black;
    padding: 10px;
    background: white;
    color: black;
    text-decoration: none;
    margin: 0 0 0 0;
    font-size: 1.6rem;
}

#contactbtn2:hover {
    background: black;
    color: white;
}

/* CSS for smaller screen sizes below */

@media (max-width:800px) {
    #nameabout {
        margin: 15% 0 0 0;
        padding: 0 10% 10% 10%;
    }

    #abouttext {
        margin: 10% 0 0 10%;
    }
}

@media (max-width:500px) {
    #about {
        flex-direction: column;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #nameabout {
        margin: 15% 0 0 0;
        padding: 0 10% 15% 10%;
    }

    #abouttext {
        margin: 15% 0 0 10%;
    }

}

/* Accessibility */

.hide-element {
    border: 0;
    clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
    clip; rect(1px, 1px, 1px, 1px);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.hide-element-focusable:active,

.hide-element-focusable:focus {

    clip: auto;

    height: auto;

    margin: 0;

    overflow: visible;

    position: static;

    width: auto;

}